*.iml
.idea/
.settings/
.externalToolBuilders/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.classpath
.project
.*proj
.svn/
*.swp
*.log
out/
node_modules/
target/
tmp/
reports/
hearthstone.log